<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile *ngFor="let user of users" [colspan]="cols | async" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-title-group>
          <mat-card-title>{{user.firstName}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <img mat-card-md-image src="/assets/{{user.imageUrl}}">
        </mat-card-title-group>
        <mat-card-content class="dashboard-card-content">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
