<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-title-group>
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle>{{card.age}}</mat-card-subtitle>
          <img mat-card-md-image src="{{card.image}}">
        </mat-card-title-group>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
